* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: auto;
    height: 100vh;
    background-image: url(../images/pattern-background-desktop.svg);
    background-size: 100vw 60vh;
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Red Hat Display", sans-serif;
}

#summary-card {
    width: 300px;
    height: auto;
    border-radius: 25px;
    background-color: hsl(225, 100%, 98%);
    overflow: hidden;
}

#summary-card > * {
    margin: 15px 0;
}

#summary-card > a {
    display: block;
}

#card-hero {
    margin-top: 0px;
}

#summary-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#summary-text > * {
    margin-bottom: 15px;
}

.attribution {
    text-align: center;
    position: absolute;
    bottom: 15px;
    width: 315px;
    left: calc(50% - (315px / 2))
}